<p>
	<strong>Titular:</strong>
	<%= @articulo.titular %>
</p>

<p>
	<strong>Contenido:</strong>
	<%= @articulo.contenido%>
</p>

<h2>Comentarios</h2>
<%= render @articulo.comentarios %>


<h2>Añadir un comentario: </h2>
<%= render 'comentarios/form' %>


<%= link_to 'volver', articulos_path %> 
<%= link_to 'Editar', edit_articulo_path(@articulo) %> 
