<h3>Te encuentras loggeado en la aplicacion</h1>
<% if @user %>
 <p><label>Nombre:</label><%= @user.name%></p>
 <p><label>Email:</label><%= @user.email%></p>
<% end %>     

<br>
 <a href ="/urls">ingresar Url</a>
<br>    

<form action =/logout method="get" font.size=10>    <input type = "submit" value = "Log out" />
</form>


<% if @urls %>
       <% @urls.each do |url| %>
         <br>
         <a href="/urls/<%= url.id %>" target="_blank"><%= "#{url.short_url}"%> </a> <%="#{url.click_count}"%>
       </br>
     <% end  %> 
<% end %>
  </div>x
